{% extends "notes/index.html" %}

{% block title %}Список заметок{% endblock %}


{% block content %}
    <h1 class="mb-4">Заметки</h1>

    <div class="card mb-4">
        <div class="card-header">
            <h5 class="mb-0">Поиск и фильтры</h5>
        </div>
        <div class="card-body">
            <form class="row g-3" action="{% url 'notes:index'%}" method="get" >
                <div class="col-md-4">
                    {{ form.search_query.label_tag }}
                    {{ form.search_query }}
                </div>
                <div class="col-md-3">
                    {{ form.category.label_tag }}
                    {{ form.category }}
                </div>
                <div class="col-md-3">
                    {{ form.reminder_filter.label_tag }}
                    {{ form.reminder_filter }}
                </div>
                <div class="col-md-2 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary w-100">Применить</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Переключатель между личными и групповыми заметками -->
    <div class="d-flex justify-content-between mb-3">
        <div>
            <a href="{% url 'notes:toggle_view' %}" class="btn btn-outline-primary">
                Переключить на {% if view_type == 'personal' %}групповые{% else %}личные{% endif %} заметки
            </a>
        </div>
         {% if user.is_authenticated %}
            {% if perms.notes.can_add_notes or can_group_add_notes %}
                <div>
                    <a href="{% url 'notes:add_note' %}" class="btn btn-gradient">
                        <i class="bi bi-plus-circle"></i>  Добавить заметку
                    </a>
                </div>
            {% endif %}
         {% endif %}
    </div>
    <div class="mb-3 d-flex justify-content-between align-items-center">
        <div>
            <p>Найдено заметок: {{ notes|length }}</p>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for note in notes %}
            <div class="col">
                <div class="card note-card h-100 position-relative">
                    <div class="card-header">
                        <h5 class="card-title mb-0">{{ note.title }}</h5>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <p class="card-text">{{ note.text|truncatewords:30 }}</p>
                        <div class="card-text group-info mt-auto">
                            {% if note.group %}
                                <span class="badge bg-primary note-group">Группа: {{ note.group.name }}</span>
                            {% endif %}
                            <br/>
                            {% if note.reminder %}
                                <span class="badge bg-info reminder-badge">
                                    Напоминание: {{ note.reminder|date:"d.m.Y H:i" }}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <small class="text-muted">
                            {% if note.category %}
                                <span class="badge bg-secondary">{{ note.category.title }}</span>
                            {% else %}
                                <span class="badge bg-light text-dark">Без категории</span>
                            {% endif %}
                        </small>
                        <div>
                            <a href="{% url 'notes:note_detail' note.pk %}" class="btn btn-sm btn-blue-custom btn-outline-primary">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <div class="alert alert-info">
                    {% if view_type == 'personal' %}
                        У вас пока нет личных заметок.
                    {% else %}
                        Нет доступных групповых заметок.
                    {% endif %}
                    <br/><a href="{% url 'notes:add_note' %}" class="alert-link">Создать новую?</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}